*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;

}
body
{
    height:100vh;
    width:100vw;
}
.box
{
    height:100%;
    width:100%;
}
#one
{   
    background-color:gold;
    width:100%;
    height:100%;
}
#two{
    border:2px solid black;
    text-align:center;
    display:flex;
}
#three{
    background-color:pink;
}
#four{
    background-color:teal;
}
#five{
    background-color:blueviolet;
}


/* ONE  */

#navbox{
    
    height:10vh;
    width:100%;
    background-color: rgb(51, 46, 46);
}

#navbar
{
    display:flex;
    height:100%;
    width:45%;
    float: right;
    padding:3vh;
}
.nav{
  
   height:5vh;
   width:7vw;
   font-size: 16px;
   margin-right:20px;
   text-decoration: none;
   color:white;
   position:relative;
     
}

#onebg
{
    height:90vh;
    width:100%;
}
#bg
{   
    border:1px solid red;
    height:100%;
    width:50%;
}
#logobox
{
     
    display: inline-block;
    text-align: center;
    position:absolute;
    top:25vh;
    right:15vw;

}
#logo
{
   border-radius:50%;
   height:200px;
   width:200px;
}

#brand
{
    font-size: 80px;
}
#tag
{
    font-size: 20px;
    font-style:italic;
}
.content{

    
}
#blogo
{
    border-radius: 50%;
    height: 250px;
    width:250px;
    margin:auto;
}

#bcontent
{
    border:1px solid black;
    height:25%;
    width:50%;
    margin:auto;
   
}