* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
}

.slidebox {
    overflow: hidden;
    margin-top: 30px;
    display: grid;
    place-items: center;
    height: 500px;
    position: relative;
    width: 500px;
    background-color: aquamarine;
    align-items: center;

}

.slidebtn {
    height: 100%;
    width: 50px;
    background: #000;
    opacity: 0.5;
    position: absolute;
}

#left {
    left: 0px;
}

#right {
    right: 0px;
}

.slider {
    display: flex;
    transition: transform 0.3s;
    position: relative;
}

.img {
    height: 100%;
    width: 100%;
}